body {
  font-family: Verdana, sans-serif;
  font-size: 16pt;
}



h1 {
  font-size: 2em;
  line-height: 1.8em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  line-height: 1.4em;
  text-align: center;
}

p {
  font-size: 1em;
}
